@import url('https://fonts.cdnfonts.com/css/satoshi'); /* font-family: 'Satoshi', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@font-face {
    src: url("./fonts/Satoshi-Variable.ttf");
    font-family: Satoshi;
    font-weight: 300 900;
}